<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>????</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
    <h1>{{message}}</h1>
    <img src="https://cdn141.picsart.com/307201068249203.png?type=webp&to=crop&r=1280" width="150" height="150"><br>
    </div>
</body>
</html>