<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <h1>Help</h1>
    <p>{{message}}</p>
    <img class="portrait" src="./images/chappie.png">
    <br>
    </div>
    <p>{{>footer}}</p>
</body>
</html>